.loader {
      width: 70px;
      height: 70px;
      border: 5px solid #FFF;
      border-bottom-color: #FCBA14;
      border-radius: 50%;
      display:block;
      margin: 10px auto;
      box-sizing: border-box;
      animation: rotation 0.7s linear infinite;
      }
  
      @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
      } 